<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Make a data object</title>
  </head>

  <body>
    <header class="container">
      <div class="row bg-dark fixed-top text-white">
	<div class="col-2">
	  <span class="bg-white text-dark p-2 m-1">TiP</span>
	</div>
	<div class="col-10 p-1">
	  <h5>Make a data object</h5>
	</div>
      </div>
    </header>

    <main class="container">
      <section id="intro">
	  <p>Intro</p>
      </section>
      <section id="generator">
	<h1>Intro</h1>
	<p>This thing makes data objects</p>
	<h1>Input</h1>
	<form action="make" method="post">
	  <div class="form-group">
	    <label for="abstract">Abstract</label>
	    <textarea id="abstract" class="form-control" name="abstract" rows="10" required></textarea>
	    <small id="abstractHelp" class="form-text text-muted">A couple of paragraphs of text</small>
	  </div>
	  <div class="row form-group">
	    <label class="col-2" for="precipitation">Precipitation</label>
	    <input class="col-3" id="precipitation" name="precipitation" required pattern="\s*(\d*[.])?\d+(,\s*(\d*[.])?\d+)*"> -->

	    \s*(\d+)(,\s*\d+)*">
	    ([0-9]*[.])?[0-9]+
	    <small class="col text-muted" id="precipitationHelp" class="form-text text-muted">A comma separated list of values in mm</small>
	  </div>
	  <div class="row form-group">
	    <label class="col-2" for="limit">Limit</label>
	    <input class="col-3" id="limit" name="limit" placeholder="" pattern="(\d)+">
	    <small class="col text-muted form-text" id="limitHelp">Limit the of data that is used. Smaller values produce less <em>hedgehoggy</em> objects. Something like 10-30 seems good</small>
	  </div>
	  <div class="row form-group">
	    <label class="col-2" for="smoothing">Smoothing</label>
	    <input class="col-3" id="smoothing" name="smoothing" placeholder="{{default_smoothing}}" pattern="(\d)*">
	    <small class="col text-muted" id="smoothingHelp">Amount of smoothing. &ge; 0</small>
	  </div>
	  <div class="row form-group">
	    <label class="col-2" for="filename">File name</label>
	    <input class="col-3" id="filename" name="filename" placeholder="dataobject.dat">
	    <small class="col text-muted" id="filenameHelp">Optionally change filename. Consider ending in <code>.dat</code></small>
	  </div>
	  <button class="btn btn-primary">Download</button>
	</form>
      </section>
    </main>

    <footer class="footer">
      <div class="col bg-light text-muted pt-5 pl-5 pr-5 pb-3 mt-5">
	Lovingly crafted in Copenhagen &#x1F6B2;
      </div>
    </footer>
    </div>
  </body>
</html>
